@import helper._
@(user: models.users.User, addMemForm: Form[models.users.Member])
@adminMain("Add Member", user){
    <div class = "row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2 class = "pull-left fancytextsmall">Add a New Member</h2><br><br><br>


@form(action = routes.AdminController.addMemSubmit(), 'class -> "form-horizontal", 'role ->"form") {

@inputText(addMemForm("email"), '_label -> "Email address", 'class -> "form-control")
@inputText(addMemForm("role"), '_label -> "Role", 'class -> "form-control")
@inputText(addMemForm("firstName"), '_label -> "First name", 'class -> "form-control")
@inputText(addMemForm("lastName"), '_label -> "Last name", 'class -> "form-control")
@inputText(addMemForm("password"), '_label -> "Password", 'class -> "form-control")
@inputText(addMemForm("addressLine1"), '_label -> "addressLine1", 'class -> "form-control")
@inputText(addMemForm("addressLine2"), '_label -> "addressLine2", 'class -> "form-control")
@inputText(addMemForm("addressLine3"), '_label -> "addressLine3", 'class -> "form-control")
@inputText(addMemForm("phoneNumber"), '_label -> "phoneNumber", 'class -> "form-control")
@inputText(addMemForm("medicalCondition"), '_label -> "Medical Condition", 'class -> "form-control")
@inputText(addMemForm("doctorsName"), '_label -> "Doctor's name", 'class -> "form-control")
@inputText(addMemForm("doctorsPhone"), '_label -> "Doctor's Phone Number", 'class -> "form-control")
@inputText(addMemForm("emergencyName"), '_label -> "Emergency contact name", 'class -> "form-control")
@inputText(addMemForm("emergencyPhone"), '_label -> "Emergency contact number", 'class -> "form-control")
@inputText(addMemForm("relationship"), '_label -> "Relationship to you", 'class -> "form-control")
@inputText(addMemForm("securityQuestion"), '_label -> "Security Question", 'class -> "form-control")
@inputText(addMemForm("securityAnswer"), '_label -> "Answer to the security question", 'class -> "form-control")


<div class="actions">
<input type = "submit" value = "Add Member" class="btn btn-primary">
<a href="@routes.AdminController.vMembers()"
<button class="btn btn-warning"> Cancel </button>
</a>
</div>

</div></div>




}


}
