@import helper._
@(user: models.users.User, addProgressForm: Form[models.Progress1])
@adminMain("AddProgress", user) {
    <div class = "row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h2 class = "pull-left fancytextsmall">Add Progress</h2><br><br><br><br><br>
    @form(action = routes.AdminController.addProgressSubmit(), 'class -> "form-horizontal", 'role->"form"){
        @inputText(addProgressForm("email"), '_label -> "Email", 'class -> "form-control")
        @inputDate(addProgressForm("date"), '_label -> "Date", 'class -> "form-control", 'type -> "date")
        @inputText(addProgressForm("height"), '_label -> "Height in cm",'class -> "form-control")
        @inputText(addProgressForm("weight"), '_label -> "Weight in kg",'class -> "form-control")
        @inputText(addProgressForm("waist"), '_label -> "Waist in cm",'class -> "form-control")
        @inputText(addProgressForm("thigh"), '_label -> "Thigh in cm",'class -> "form-control")
        @inputText(addProgressForm("bicep"), '_label -> "Bicep in cm",'class -> "form-control")
        @inputText(addProgressForm("age"), '_label -> "Age",'class -> "form-control")
        @inputText(addProgressForm("planId"), '_label -> "Plan Id",'class -> "form-control")


        @inputText(addProgressForm("id"), '_label -> "", 'hidden -> "hidden")

        <!-- Add a submit button -->
        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="@routes.AdminController.vMembers()"
            <button class="btn btn-warning">Cancel</button>
            </a>
        </div>


    }

}
