@import helper._
@(user: models.users.User, addClassForm: Form[models.Timetable])
@admin.adminMain("AddTime", user) {
    <div class = "row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h2 class = "pull-left fancytextsmall">Add Time</h2> <br><br><br><br>
        @form(action = routes.AdminController.addTimeSubmit(), 'class -> "form-horizontal", 'role->"form"){
            @inputText(addClassForm("day"), '_label -> "Day",'class -> "form-control")

            @inputText(addClassForm("fclass7am"), '_label -> "7 - 8am",'class -> "form-control")
            @inputText(addClassForm("fclass8am"), '_label -> "8 - 9am",'class -> "form-control")
            @inputText(addClassForm("fclass9am"), '_label -> "9 - 10am",'class -> "form-control")
            @inputText(addClassForm("fclass10am"), '_label -> "10 - 11am",'class -> "form-control")
            @inputText(addClassForm("fclass11am"), '_label -> "11 - 12am",'class -> "form-control")
            @inputText(addClassForm("fclass12pm"), '_label -> "12 - 1pm",'class -> "form-control")
            @inputText(addClassForm("fclass1pm"), '_label -> "1 - 2pm",'class -> "form-control")
            @inputText(addClassForm("fclass2pm"), '_label -> "2 - 3pm",'class -> "form-control")
            @inputText(addClassForm("fclass3pm"), '_label -> "3 - 4pm",'class -> "form-control")
            @inputText(addClassForm("fclass4pm"), '_label -> "4 - 5pm",'class -> "form-control")
            @inputText(addClassForm("fclass5pm"), '_label -> "5 - 6pm",'class -> "form-control")
            @inputText(addClassForm("fclass6pm"), '_label -> "6 - 7pm",'class -> "form-control")
            @inputText(addClassForm("fclass7pm"), '_label -> "7 - 8pm",'class -> "form-control")
            @inputText(addClassForm("fclass8pm"), '_label -> "8 - 9pm",'class -> "form-control")


            @inputText(addClassForm("id"), '_label -> "", 'hidden -> "hidden")

                <!-- Add a submit button -->
            <div class="actions">
                <input type="submit" value="Save" class="btn btn-primary">
                <a href="@routes.AdminController.timetable()"
                <button class="btn btn-warning">Cancel</button>
                </a>
            </div>
        </div>
    </div>


}
}