@import helper._
@(user: models.users.User, addTimeSlotForm: Form[models.TimeSlot])
@admin.adminMain("AddTimeSlots", user){
	<div class = "row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
	<h2 class = "pull-left fancytextsmall">Add New Time Slot</h2> <br><br><br><br>

@form(action= routes.AdminController.addTimeSlotSubmit(), 'class -> "form-horizontal", 'role->"form"){

                        @inputText(addTimeSlotForm("date"), '_label -> "Date", 'class -> "form-control", 'type -> "date")
			@inputText(addTimeSlotForm("day"), '_label -> "Day", 'class -> "form-control")
			@inputText(addTimeSlotForm("time"), '_label -> "Time", 'class -> "form-control")
			@inputText(addTimeSlotForm("trainer"), '_label -> "Trainer", 'class -> "form-control")
			@inputText(addTimeSlotForm("duration"), '_label -> "Duration", 'class -> "form-control")
			@inputText(addTimeSlotForm("places"), '_label -> "Places available", 'class -> "form-control")

@inputText(addTimeSlotForm("id"), '_label -> "", 'hidden -> "hidden")

<br><br>

<div class="actions">
<input href="@routes.AdminController.timeSlots()" type="submit" value="Add Time Slot" class="btn btn-primary">
	<a href="@routes.AdminController.timeSlots()"

		<button class="btn btn-warning">Cancel</button>
	</a>

</div></div></div>

}
}



