@(user: models.users.User, booking: List[models.BookingOrder])
@adminMain("Bookings", user){
<div class="row">
<div class="col-sm-10">
    <h2 class = "pull-left fancytextsmall">Bookings</h2>
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
<table class="table table-bordered table-hover table-condensed">
    <thead>
            <!-- The header row-->
        <tr>
<th>Booking date</th>
<th>Booked Slot</th>
<th>Booked By</th>
            <th>Delete</th>

</tr>
</thead>
<tbody>
  @for(m <- booking) {
          <tr>
<td>@m.getBookingDate.format("dd-MMM-YYYY")</td>
<td>@m.getItems.get(0).getTimeSlot.getDate.format("dd-MMM-YYYY") @m.getItems.get(0).getTimeSlot.getTime</td>
<td>@m.getMember.getFirstName @m.getMember.getLastName</td>

              <td>
                  <a href="@routes.AdminController.deleteBooking(m.getId)" class="btn-xs btn-danger"
                  onclick="return confirmDel();">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
              </td>
</tr>
}
</tbody>
</table>
</div>
</div>
}

