@(user: models.users.User, member: List[models.users.Member])
@adminMain("Members", user){

<div class="row">
<div class="col-sm-10">
    <h2 class = "pull-left fancytextsmall">Members</h2>
    @if(flash.containsKey("success")) {
        <div class="alert alert-success">
        @flash.get("success")
        </div>
    }
<table class="table table-bordered table-hover table-condensed">
    <thead>
            <!-- The header row-->
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Password</th>
            <th>Address</th>
            <th>Address</th>
            <th>Address</th>
            <th>Medical Condition</th>
            <th>Doctors Name</th>
            <th>Doctors Phone</th>
            <th>Emegency Contact</th>
            <th>Emergency Phone</th>
            <th>Relationship</th>
            <th>Security Question</th>
            <th>Security Answer</th>
	    <th>Progress</th>

        </tr>
    </thead>
    <tbody>
            <!-- Product row(s) -->
            <!-- Start of For loop - For each p in products add a row -->
        @for(m <- member) {
          <tr>
                <td>@m.getFirstName</td>
              <td>@m.getLastName</td>
              <td>@m.getPhoneNumber</td>
              <td>@m.getEmail</td>
              <td>@m.getPassword</td>
              <td>@m.getAddressLine1</td>
              <td>@m.getAddressLine2</td>
              <td>@m.getAddressLine3</td>
              <td>@m.getMedicalCondition</td>
              <td>@m.getDoctorsName</td>
              <td>@m.getDoctorsPhone</td>
                 <td>@m.getEmergencyName</td>
              <td>@m.getEmergencyPhone</td>
              <td>@m.getRelationship</td>
              <td>@m.getSecurityQuestion</td>
              <td>@m.getSecurityAnswer</td>


<td>
<a href="@routes.AdminController.vProgress(m.getEmail)" class ="btn-xs btn-danger">
<span class = "glyphicon glyphicon-user"></span></a>
</td>
<!-- Edit Member's details -->
              <td>
                  <a href="@routes.AdminController.updateMem(m.getEmail)" class="btn-xs btn-danger">
                      <span class="glyphicon glyphicon-pencil"></span></a>
              </td>
                  <!-- Delete Member button -->
              <td>
                  <a href="@routes.AdminController.deleteMem(m.getEmail)" class="btn-xs btn-danger"
                  onclick="return confirmDel();">
                      <span class="glyphicon glyphicon-trash"></span>
                  </a>
              </td>
                  </tr>
        } <!-- End of For loop -->
    </tbody>
</table>
<p>
<a href="@routes.AdminController.addMem()">
<button class="btn btn-primary">Add a new Member</button>
</a>
</p>
</div>
</div>
<script>
function confirmDel() {
return confirm('Are you sure?');
}
</script>
    <!-- End of content for main -->
}
