@(user: models.users.User, progress: List[models.Progress1])
@admin.adminMain("Progress", user){
    <div class="row">
        <div class="col-sm-10">
            <h2 class = "pull-left fancytextsmall">Progress</h2>
        @if(flash.containsKey("success")) {
            <div class="alert alert-success">
            @flash.get("success")
            </div>
        }


        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
		    <th>Date</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Waist</th>
                    <th>Thigh</th>
                    <th>Bicep</th>
                    <th>Plan Id</th>
                    <th>Age</th>
                    <th>BMI</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @for(p <- progress){
                    <tr>
			<td>@p.getDate.format("dd-MMM-YYYY")</td>
                        <td>@p.getHeight</td>
                        <td>@p.getWeight</td>
                        <td>@p.getWaist</td>
                        <td>@p.getThigh</td>
                        <td>@p.getBicep</td>
                        <td>@p.getPlanId</td>
                        <td>@p.getAge</td>
                        <td>@("%.2f".format(p.getBmi))</td>


                            <!-- Edit product button -->

                            <!-- Delete product button -->
                        <td>
                            <a href="@routes.AdminController.deleteProgress(p.getId)" class="btn-xs btn-danger"
                            onclick="return confirmDel();">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>

                            <a href="@routes.AdminController.updateProgress(p.getId )" class="btn-xs btn-danger">
                                <span class="glyphicon glyphicon-pencil"></span></a>
                        </td>

                    </tr>
                } <!-- End of For loop -->
            </tbody>
        </table>
        <p>
            <a href="@routes.AdminController.addProgress()">
                <button class="btn btn-primary">Add Progress</button>
            </a>
        </p>
    </div> </div>

    <script>
            // JavaScript function returns true if user clicks yes, otherwise, false
            function confirmDel() {
                return confirm('Are you sure?');
            }
    </script>

        <!-- End of content for main -->


}


