*{
	margin-top: 0;
}
html{
min-height: 100%;
position: relative;
}
.navbar {
      margin-bottom: 0;
      border-radius: 0;
	  background-color:#3366cc !important;
    }

body{
	background-color: lightgray !important;

	padding-bottom: 150px;
	}
.blog{
	text-align: center;
}

.pageHeader{
background-color:#3366cc;
}

.fancytext{
	font-family: 'Clicker Script', cursive;
	font-size: 5em;
	color: black !important;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

.fancytextsmall{
	font-family: 'Clicker Script', cursive;
	font-size: 3em;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}


.productinfo{
	margin-left:1em; 
}
/*center of non index pages*/
#bodycontainer{
	background-color:lightgray;
	padding: 1em;
}

#bodycontainer h2{
	margin-left: 1em;
}


/*on all pages*/
#pageheading{
	width: 100%;
	height: 6em;
	margin-top: 0;
	background-color:#3366cc;
}

#pageheading h1{
	margin-top: 0;
	padding-top: 0;
	color: white;
}
.footerinfo{
	padding-top: 1.5em;
}

footer a{
	color: black;
}

footer a:visited{
	color: black;
}

footer a:hover{
	color: white;
}

footer p{
	color: white;}


footer {
position: fixed;
bottom: 0;
clear: both;
width: 100%;
margin-top: -140px
height: 140px;
	text-align: center;
	background-color:#3366cc !important;

}