@(user: models.users.User, slots: List[models.TimeSlot])
    @mMain("TimeSlots", user){
    <div class="row">
        <div class="col-sm-10">
    <h2 class = "pull-left fancytextsmall">Appointments</h2><br><br><br><br><br><br><br><br><br><br><br>
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
               </div>

            }

                <table class="table table-bordered table-hover table-condensed">
                    <thead>

                        <tr>
                            <th>Date</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Trainer</th>
                            <th>Duration</th>
                            <th>Places available</th>
                            <th>Book</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(p <- slots) {
                        <tr>
                            <td>@p.getDate.format("dd-MMM-YYYY")</td>
                            <td>@p.getDay</td>
                            <td>@p.getTime</td>
                            <td>@p.getTrainer</td>
                            <td>@p.getDuration</td>
                            <td>@p.getPlaces</td>
                            <td>
                                <a href="@routes.MemberController.addToYourBooking(p.getId)"  class="btn btn-default btn-xs">
                                    <span class= "glyphicon glyphicon-calendar"></span>
                                </a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>

            </div>
        </div>

    }


