@(user: models.users.User, blog: List[models.BlogPost], env: play.api.Environment, filter: String)
@mMain("Blog", user){
    <h2 class = "pull-left fancytextsmall">Blog</h2>
 <div class="row">
                <div class="col-sm-12">
                    <div class="well" align="right">
                        <div id="actions">
                            <form action="@routes.MemberController.blog()" method="GET">
                                <input type="search" id="searchbox" name="filter" value="@filter" placeholder="Filter by post title...">
                                <input type="submit" id="searchsubmit" value="Filter by title" class="btn-md btn-primary">
                            </form>
                        </div>

                        @for(p <- blog ) {
                            <div class ="blog">
                            <p><b>@p.getTitle</p></b>
                            <p><i>@p.getCategory</p></i>
                            <p>
                                @if(env.resource("public/images/postImages/" + p.getId + ".jpg").isDefined){
                                    <img src = "/assets/images/postImages/@(p.getId + ".jpg")"/>
                                }
                                </div>
                            </p>
                        <div class ="blog">
@Html(p.getText)
</div>
                        <p>
<b>@p.getPosted.format("dd-MMM-YYYY")</b>
</p>
<br><br><br><br><br><br>
}
</div>
</div>
</div>
    }
