@(user: models.users.User)
@mMain("Diet", user){


        

                
            <div class="container text-center" style ="min-height: 100%;"><br>
                <div class="row">

                    <div class="col-sm-12" style ="height: 100%;">
                        <iframe src="@routes.Assets.versioned("diets/1monthdiet.pdf")" class="img-responsive" style="width:100%;height:550px;" alt="Image"></iframe>
                    </div><!--column end-->

                </div><!--row end-->

            </div><!--container end-->
            <br>

   
}
