@(user: models.users.User, timetable: List[models.Timetable])
    @member.mMain("Timetable", user){
        <div class="row">
            <div class="col-sm-10">
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                    @flash.get("success")
                    </div>
                }
                <h2 class = "pull-left fancytextsmall">Timetable</h2>
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>7 - 8am</th>
                            <th>8 - 9am</th>
                            <th>9 - 10am</th>
                            <th>10 - 11am</th>
                            <th>11 - 12am</th>
                            <th>12 - 1pm</th>
                            <th>1 - 2pm</th>
                            <th>2 - 3pm</th>
                            <th>3 - 4pm</th>
                            <th>4 - 5pm</th>
                            <th>5 - 6pm</th>
                            <th>6 - 7pm</th>
                            <th>7 - 8pm</th>
                            <th>8 - 9pm</th>



                        </tr>
                    </thead>
                    <tbody>
                        @for(p <- timetable){
                            <tr>
                                <td>@p.getDay</td>
                                <td>@p.getFclass7am</td>
                                <td>@p.getFclass8am</td>
                                <td>@p.getFclass9am</td>
                                <td>@p.getFclass10am</td>
                                <td>@p.getFclass11am</td>
                                <td>@p.getFclass12pm</td>
                                <td>@p.getFclass1pm</td>
                                <td>@p.getFclass2pm</td>
                                <td>@p.getFclass3pm</td>
                                <td>@p.getFclass4pm</td>
                                <td>@p.getFclass5pm</td>
                                <td>@p.getFclass6pm</td>
                                <td>@p.getFclass7pm</td>
                                <td>@p.getFclass8pm</td>


                            </tr>
                        } <!-- End of For loop -->
                    </tbody>
                </table>

            </div>
        </div>



    }


