@(user: models.users.User, member: models.users.Member)

@mMain("Your Booking", user) {


    <div class="row">

        <div class="col-md-12">
            @if(flash.containsKey("success")) {
                <div class="alert alert-success">
                @flash.get("success")
                </div>
            }
            <h2 class = "pull-left fancytextsmall">Your Booking</h2>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                        <!-- The header row-->
                    <tr>
                        <th>Date</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Trainer</th>
                        <th>Places</th>
                    </tr>
                </thead>
                <tbody>
                @if(member.getBasket != null) {
                        <!-- Start of For loop - For each p in products add a row -->
                    @for(i <- member.getBasket().getYourBookingItems()) {
                        <tr>
                            <td>@i.getTimeSlot.getDate.format("dd-MMM-YYYY")</td>
                            <td>@i.getTimeSlot.getDay()</td>
                            <td>@i.getTimeSlot.getTime</td>
                            <td>@i.getTimeSlot.getTrainer()</td>
                            <td>@i.getQuantity()</td>

                        </tr>
                    }<!-- End of For loop -->
                }
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-6">
                    <p class="text-right">
                        <a href="@routes.MemberController.emptyBasket()" class="btn btn-danger btn-sm" onclick="return confirmDel();">
                            <span class="glyphicon glyphicon-trash"></span> Cancel</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">
                        <a href="@routes.MemberController.bookAppointment()" class="btn btn-success btn-sm">
                            <span class="glyphicon glyphicon-euro"></span> Confirm Booking</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script>
            // JavaScript function returns true if user clicks yes, otherwise, false
            function confirmDel() {
                return confirm('Are you sure?');
            }
    </script>
}
