@(loginForm: Form[models.users.Login], user: models.users.User)
@import helper._

@* Pass page title and content {html between braces} to the main view *@
@main("Login", user ) {


	@if(flash.containsKey("Success")) {
<div class ="alert alert-success">
@flash.get("Success")
</div>

}
    <!-- HTML content for the index view -->
    <div class = "row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h3>Sign in</h3>

                <!-- Display login errors if they exist -->
            @if(loginForm.hasGlobalErrors) {
                <p class="alert alert-warning">
                @loginForm.globalError.message
                </p>
            }
            @if(flash.containsKey("error")) {
                <div class="alert alert-warning">
                @flash.get("loginRequired")
                </div>

            }


                <!-- The login form -->
            @helper.form(action = controllers.security.routes.LoginController.loginSubmit()) {

                <div class="form-group">
                @inputText(loginForm("email"), '_label -> "",'class -> "form-control input-xs", 'placeholder -> "Email")
                </div>
                <div class="form-group">
                @inputPassword(loginForm("password"), '_label -> "",'class -> "form-control input-xs", 'placeholder -> "Password")
                </div>


                    <!-- Add a submit button -->
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary">
                </div>


</div></div>
        <!-- End of content for main -->
}
}